fastapi
uvicorn
langchain
langchain-community
langchain-nvidia-ai-endpoints
chromadb
pydantic
pydantic-settings
python-dotenv
python-multipart
PyPDF2
duckduckgo-search
requests
beautifulsoup4
chardet
sqlalchemy
databases
asyncpg
psycopg2-binary
unstructured
markdown
python-docx
langchain-text-splitters
